
<footer class="app-footer">
    <div class="footer-content">
      <div class="footer-logo">
        <h3>Developed for:</h3>
        <a target='_blank' rel="noreferrer" href='https://www.shipthis.co/'>
        <img src="../../assets/shipthis.svg" alt="Logo" />
    </a>
      </div>
      <ul class="footer-links">
        <li>👨‍💻 This Application is Dveloped Using M.E.A.N stack!</li>
        <li>📝 The source code for this entire project is available at Repository : <a target='_blank' rel="noreferrer" href='https://github.com/iamsyed21/FletNix_FullStack'>GitHub</a> </li>
       
        <li>🎥This website is developed by me, Syed Moin Ahmed. Explore more of my projects or get in touch through my portfolio: <a target='_blank' rel="noreferrer" href='https://syedmoinahmed.dev/'>Portfolio</a> </li>
        <li class="disclaimer">
            Disclaimer: This Fletnix application is developed for assessment/portfolio work, 
                not for commercial purposes!
        </li>
      </ul>
      
    </div>
  </footer>
  