<div class="welcome-section">
    <h1>Welcome to TV Shows!</h1>
    <p>Browse through the best series out! <br>Select from our unique categories</p>
    <div class="select-container">
      <select #categorySelect (change)="onCategoryChange(categorySelect.value)">
        <option value="">All Categories</option>
        <ng-container *ngFor="let category of categories">
          <option [value]="category">{{ category }}</option>
        </ng-container>
      </select>
    </div>
  </div>
  
  <div *ngIf="isLoading; else contentGrid" class="shimmer-container">
    <div class="shimmer" *ngFor="let i of [].constructor(15)"></div>
  </div>
  
  <ng-template #contentGrid>
    <div class="content-grid">
      <div class="content-card" *ngFor="let content of contents">
        <div class="card-header">
          <h3 class="title">{{ content.title }}</h3>
          <span class="type" [ngClass]="{'movie': content.type === 'Movie', 'tv-show': content.type === 'TV Show'}">{{ content.type }}</span>
        </div>
        <p class="description">{{ content.description | slice:0:60 }}...</p>
        <div class="details-match">
          <button class="more-details-btn" (click)="onMoreDetails(content)">More details</button>
          <span class="match">{{ randomMatchPercentage() }}% Match</span>
        </div>
        <div class="info">
          <span>{{ content.release_year }}</span>
          <span>{{ content.duration }}</span>
          <span class="rating">{{ content.rating }}</span>
        </div>
        <div class="categories">
          <ng-container *ngIf="content.category.length; else noCategory">
            <span *ngFor="let cat of content.category | slice:0:2">{{ cat }}</span>
          </ng-container>
          <ng-template #noCategory>No categories available</ng-template>
        </div>
      </div>
    </div>
  </ng-template>
  
  <div class="pagination">
    <button (click)="previousPage()">Previous</button>
    <button (click)="nextPage()">Next</button>
  </div>
  